@media only screen and (max-width:600px){
    #welcome{
        height: 300px;
    }

    .homeimg{
        flex-direction: column;
        padding-left: 0px;

    }

    .homeimg2{
        flex-direction: column;
    }

    .footterbottom{
        width: 700px;
    }

    .templete{
        width: 700px;
    }
    
    .ttt{
    
        width: 700px;
    }

    #header{
        width: 700px;
    }

    #welcome{
        width: 700px;
    }


       /* About  */

       #header{
        width: 700px;
       }

       .about1{
        width: 700px;

       }

       .aboutimage{
        height: 800px;
        width: 700px;

       } */

       .can{
        /* flex-direction: column; */
        width: 700px;

       }

       .ownphoto{
        margin-left: 0;
        width: 300px;
       }

       #candle{
        width: 700px;
       }

       .xyz{
        width: 700px;
       }

       .templete{
        width: 700px;
       }

       .footterbottom{
        width: 700px;
       }


        /* cakes */

        .cakenav{
            width: 700px;

        }

        #cakes{
            width: 700px;
            height: 5000px;
            flex-direction: column;
        }

        #section1{
            width: 700px;
            flex-direction: column;
        }

        #section2{
            width: 700px;
            flex-direction: column;
        }
        
        #section3{
            width: 700px;
            flex-direction: column;
        }

        #section4{
            width: 700px;
            flex-direction: column;
        }

        #btn{
            margin-left: -1px;
        }


        /* contact page*/

        .container{
            width: 700px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            


        }



       


        

        


}